{% if group %}
<form id="chat_message_form" class="w-100 pt-3" 
    hx-ext="ws"
    ws-connect="/ws/chatroom/{{ chatroom_name_ws }}"
    ws-send 
    _="on htmx:wsAfterSend reset() me"
    method="POST">
  {% csrf_token %}
  <div class="d-flex gap-2 align-items-center">
      <input class="form-control rounded-pill border border-gray-400" type="text" name="body" maxlength="300" autofocus id="is_body" placeholder="Enter message here...">
      <button class="btn btn-primary" type="submit">Send</button>
  </div>      
</form>
{% endif %}