<div class="bg-dark w-100 h-100 rounded-top p-3 text-white">
  {% if home_chat == None %}
      <p>{{room.name}} chat (Live-chat)</p>
  {% else %}
      <p>{{home_chat}} chat (Live-chat)</p>
  {% endif %}
</div>
<div id="chat_container" class="w-100 h-100 bg-light p-3 rounded-bottom overflow-auto">
  <ul id="chat_messages" class="d-flex flex-column justify-content-end gap-2 p-4">
      {% for message in chat_messages reversed %}
          {% if message.author == user %}
              <!-- Message from Current User -->
              <div class="d-flex flex-row-reverse align-items-center p-3 rounded-lg">
                  <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center" style="width: 40px; height: 40px;">
                      {% if message.author.avatar %}
                          <img src="{{ message.author.avatar.url }}" alt="{{ message.author.username }}'s avatar" class="img-fluid rounded-circle">
                      {% else %}
                          {{ message.author.username|slice:":1" | upper}}
                      {% endif %}
                  </div>
                  <div class="position-relative bg-info text-dark py-2 px-3 rounded-lg ms-3">
                      <div>{{ message.body }}</div>
                      {% if message.is_seen %}
                          <div class="position-absolute text-muted small" style="bottom: -20px; right: 10px;">Seen</div>
                      {% endif %}
                  </div>
              </div>
          {% else %}
              <!-- Message from Other Users -->
              <div class="d-flex align-items-start p-3 rounded-lg">
                  <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center" style="width: 40px; height: 40px;">
                      {% if message.author.avatar %}
                          <a href="{% url 'user-profile' message.author.id %}" class="d-block">
                              <img src="{{ message.author.avatar.url }}" alt="{{ message.author.username }}'s avatar" class="img-fluid rounded-circle">
                          </a>
                      {% else %}
                          {{ message.author.username|slice:":1" | upper}}
                      {% endif %}
                  </div>
                  <div class="position-relative bg-white text-dark py-2 px-3 rounded-lg ms-3">
                      <div>{{ message.body }}</div>
                  </div>
                  <div class="small text-muted mt-1 ms-4">
                      @{{ message.author.username }}
                  </div>
              </div>
          {% endif %}
      {% endfor %}
  </ul>
</div>

<div class="pt-3"></div>
<form id="chat_message_form" class="w-100" hx-ext="ws" ws-connect="/ws/chatroom/{{ chatroom_name_ws }}" ws-send _="on htmx:wsAfterSend reset() me" method="POST">
  {% csrf_token %}
  <div class="input-group border border-secondary rounded-3 py-1 px-2">
      <div class="d-flex align-items-center flex-grow-1 me-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none">
              <path d="M6.05 17.6C6.05 15.3218 8.26619 13.475 11 13.475C13.7338 13.475 15.95 15.3218 15.95 17.6M13.475 8.525C13.475 9.89191 12.3669 11 11 11C9.6331 11 8.525 9.89191 8.525 8.525C8.525 7.1581 9.6331 6.05 11 6.05C12.3669 6.05 13.475 7.1581 13.475 8.525ZM19.25 11C19.25 15.5563 15.5563 19.25 11 19.25C6.44365 19.25 2.75 15.5563 2.75 11C2.75 6.44365 6.44365 2.75 11 2.75C15.5563 2.75 19.25 6.44365 19.25 11Z" stroke="teal" stroke-width="1.6" />
          </svg>
          <input class="form-control border-0" type="text" name="body" maxlength="300" id="is_body" placeholder="Enter message here...">
      </div>
      <div class="d-flex align-items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none">
              <path d="M14.9332 7.79175L8.77551 14.323C8.23854 14.8925 7.36794 14.8926 6.83097 14.323C6.294 13.7535 6.294 12.83 6.83097 12.2605L12.9887 5.72925M12.3423 6.41676L13.6387 5.04176C14.7126 3.90267 16.4538 3.90267 17.5277 5.04176C18.6017 6.18085 18.6017 8.02767 17.5277 9.16676L16.2314 10.5418M16.8778 9.85425L10.72 16.3855C9.10912 18.0941 6.49732 18.0941 4.88641 16.3855C3.27549 14.6769 3.27549 11.9066 4.88641 10.198L11.0441 3.66675" stroke="#9CA3AF" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <button class="btn btn-teal d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none">
                  <path d="M9.04071 6.959L6.54227 9.45744M6.89902 10.0724L7.03391 10.3054C8.31034 12.5102 8.94855 13.6125 9.80584 13.5252C10.6631 13.4379 11.0659 12.2295 11.8715 9.81261L13.0272 6.34566C13.7631 4.13794 14.1311 3.03408 13.5484 2.45139C12.9657 1.8687 11.8618 2.23666 9.65409 2.97257L6.18714 4.12822C3.77029 4.93383 2.56187 5.33664 2.47454 6.19392C2.38721 7.0512 3.48957 7.68941 5.69431 8.96584L5.92731 9.10074C6.23326 9.27786 6.38623 9.36643 6.50978 9.48998C6.63333 9.61352 6.72189 9.7665 6.89902 10.0724Z" stroke="black" stroke-width="1.6" stroke-linecap="round" />
              </svg>
              <span class="ms-2">Send</span>
          </button>
      </div>
  </div>      
</form>

