<div class="bg-dark w-100 rounded-top p-3 text-white">
  {% if home_chat == None %}
      <p>{{ room.name }} chat (Live-chat)</p>
  {% else %}
      <p>{{ home_chat }} chat (Live-chat)</p>
  {% endif %}
</div>
<div id="chat_container" class="w-100" style="height: calc(100vh - 468px); background-color: #e0f7fa; padding: 0.5rem; border-bottom-right-radius: 0.5rem; border-bottom-left-radius: 0.5rem; overflow-y: auto;">

  <ul id="chat_messages" class="d-flex flex-column justify-content-end gap-2">
      {% for message in chat_messages reversed %}
          {% if message.author == user %}
              <!-- Message from Current User -->
              <div class="d-flex flex-row justify-content-end pt-1">
                <div>
                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">{{ message.body }}</p>
                  <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">You</p>
                </div>
                {% if message.author.avatar %}
                    <img src="{{ message.author.avatar.url }}" alt="{{ message.author.username }}'s avatar" class="rounded-circle" style="width: 45px; height: 45px;">
                {% else %}
                    <span style="width: 60px; height: 60px;">
                        {{ message.author.username|slice:":1"|upper }}
                    </span>
                {% endif %}
              </div>
          {% else %}
              <!-- Message from Other Users -->
              <div class="d-flex flex-row justify-content-start">
                {% if message.author.avatar %}
                    <a href="{% url 'user-profile' message.author.id %}">
                        <img src="{{ message.author.avatar.url }}" alt="{{ message.author.username }}'s avatar" class="rounded-circle" style="width: 45px; height: 45px;">
                    </a>
                {% else %}
                    <span style="width: 60px; height: 60px;">
                        {{ message.author.username|slice:":1"|upper }}
                    </span>
                {% endif %}
                <div>
                  <p class="small p-2 ms-3 mb-1 rounded-3 bg-light">{{ message.body }}</p>
                  <p class="small ms-3 mb-3 rounded-3 text-muted">@{{ message.author.username }}</p>
                </div>
              </div>
          {% endif %}
      {% endfor %}
  </ul>
</div>
<div class="pt-4"></div>
<form id="chat_message_form" class="w-100" 
    hx-ext="ws"
    ws-connect="/ws/chatroom/{{ chatroom_name_ws }}"
    ws-send 
    _="on htmx:wsAfterSend reset() me"
    method="POST">
  {% csrf_token %}
  <div class="d-flex gap-2 align-items-center">
      <input class="form-control rounded-pill border border-gray-400" type="text" name="body" maxlength="300" autofocus id="is_body" placeholder="Enter message here...">
      <button class="btn btn-primary" type="submit">Send</button>
  </div>      
</form>
