{% extends 'main.html' %}

{% block content %}
<main>

  {% if page == 'login' %}
  <body class="overflow-hidden" style="font-family: 'Inter', sans-serif;">
    <section class="d-flex justify-content-center" style="position: relative;">
      <!-- <img src="https://pagedone.io/asset/uploads/1702362010.png" alt="gradient background image" class="w-full h-full object-cover fixed"> -->
      <div class="mx-auto" style="max-width: 32rem; padding-left: 2rem; padding-right: 2rem; position: absolute; padding-top: 5rem; padding-bottom: 5rem;">
        <!-- <img src="https://pagedone.io/asset/uploads/1702362108.png" alt="pagedone logo" class="mx-auto lg:mb-11 mb-8"> -->
        <div class="rounded bg-white shadow" style="border-radius: 1rem; width: 400px;">
          <form action="" class="mx-auto" style="padding: 1.75rem; padding-top: 2.75rem; padding-bottom: 2.75rem;" method="POST">
            {% csrf_token %}
            <div class="mb-5">
              <h1 class="text-center text-dark mb-2" style="font-family: 'Manrope', sans-serif; font-size: 1.875rem; font-weight: 700; line-height: 2.5rem;">Welcome Back</h1>
              <p class="text-center text-muted" style="font-size: 1rem; font-weight: 500; line-height: 1.5rem;">ft_transcendence login page</p>
            </div>
            <!-- <input type="text" class="w-full h-12 text-gray-900 placeholder:text-gray-400 text-lg font-normal leading-7 rounded-full border-gray-300 border shadow-sm focus:outline-none px-4 mb-6" placeholder="Username"> -->
            <input id="username" name="email" type="email" class="form-control" style="width: 100%; height: 3rem; color: #212529; font-size: 1.125rem; font-weight: 400; line-height: 1.75rem; border-radius: 9999px; border-color: #dee2e6; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); padding: .5rem 1rem; margin-bottom: 1.5rem;" placeholder="email">
            <input id="password" name="password" type="password" class="form-control" style="width: 100%; height: 3rem; color: #212529; font-size: 1.125rem; font-weight: 400; line-height: 1.75rem; border-radius: 9999px; border-color: #dee2e6; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); padding: .5rem 1rem; margin-bottom: .25rem;" placeholder="Password">
            <a href="javascript:;" class="flex justify-end mb-6">
              <span class="text-indigo-600 text-right text-base font-normal leading-6">Forgot Password?</span>
            </a>
            <button type="submit" class="btn" style="width: 100%; height: 3rem; color: white; text-align: center; font-size: 1rem; font-weight: 600; line-height: 1.5rem; border-radius: 9999px; background-color: #4f46e5; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); margin-bottom: 3rem; transition: background-color 0.7s;" onmouseover="this.style.backgroundColor='#4338ca';" onmouseout="this.style.backgroundColor='#4f46e5';">Login</button>
            <a href="{% url 'register' %}" class="d-flex justify-content-center text-dark" style="font-size: 1rem; font-weight: 500; line-height: 1.5rem;"> Don’t have an account? <span class="text-primary font-weight-semibold" style="padding-left: .75rem;"> Sign Up</span>
            </a>
          </form>
        </div>
      </div>
    </section>
  </body>
                                            
  {% else %}

  <body class="overflow-hidden" style="font-family: 'Inter', sans-serif;">
    <section class="d-flex justify-content-center" style="position: relative;">
      <!-- <img src="https://pagedone.io/asset/uploads/1702362010.png" alt="gradient background image" class="w-full h-full object-cover fixed"> -->
      <div class="mx-auto" style="max-width: 32rem; padding-left: 2rem; padding-right: 2rem; position: absolute; padding-top: 2rem; padding-bottom: 2rem;">
        <!-- <img src="https://pagedone.io/asset/uploads/1702362108.png" alt="pagedone logo" class="mx-auto lg:mb-11 mb-8"> -->
        <div class="rounded bg-white shadow" style="border-radius: 1rem; width: 400px;">
          <form action="" class="mx-auto" style="padding: 1.75rem; padding-top: 2.75rem; padding-bottom: 2.75rem;" method="POST">
            {% csrf_token %}
            <div class="mb-5">
              <h1 class="text-center text-dark mb-2" style="font-family: 'Manrope', sans-serif; font-size: 1.875rem; font-weight: 700; line-height: 2.5rem;">Register</h1>
              <p class="text-center text-muted" style="font-size: 1rem; font-weight: 500; line-height: 1.5rem;">ft_transcendence Sign Up page</p>
            </div>
            <input type="text" name="name" maxlength="200" required id="id_name" class="form-control" style="width: 100%; height: 3rem; color: #212529; font-size: 1.125rem; font-weight: 400; line-height: 1.75rem; border-radius: 9999px; border-color: #dee2e6; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); padding: .5rem 1rem; margin-bottom: .25rem;" placeholder="Your Name">
            <input type="text" name="username" maxlength="200" required id="id_username" class="form-control" style="width: 100%; height: 3rem; color: #212529; font-size: 1.125rem; font-weight: 400; line-height: 1.75rem; border-radius: 9999px; border-color: #dee2e6; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); padding: .5rem 1rem; margin-bottom: .25rem;" placeholder="Username">
            <input type="email" name="email" maxlength="254" autofocus required id="id_email" class="form-control" style="width: 100%; height: 3rem; color: #212529; font-size: 1.125rem; font-weight: 400; line-height: 1.75rem; border-radius: 9999px; border-color: #dee2e6; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); padding: .5rem 1rem; margin-bottom: .25rem;" placeholder="email">
            <input type="password" name="password1" autocomplete="new-password" required id="id_password1" class="form-control" style="width: 100%; height: 3rem; color: #212529; font-size: 1.125rem; font-weight: 400; line-height: 1.75rem; border-radius: 9999px; border-color: #dee2e6; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); padding: .5rem 1rem; margin-bottom: .25rem;" placeholder="Password">
            <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" class="form-control" style="width: 100%; height: 3rem; color: #212529; font-size: 1.125rem; font-weight: 400; line-height: 1.75rem; border-radius: 9999px; border-color: #dee2e6; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); padding: .5rem 1rem; margin-bottom: .25rem;" placeholder="Confirm Password">

            <button type="submit" class="btn" style="width: 100%; height: 3rem; color: white; text-align: center; font-size: 1rem; font-weight: 600; line-height: 1.5rem; border-radius: 9999px; background-color: #4f46e5; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); margin-bottom: 3rem; transition: background-color 0.7s;" onmouseover="this.style.backgroundColor='#4338ca';" onmouseout="this.style.backgroundColor='#4f46e5';">Sign Up</button>
            <a href="{% url 'login' %}" class="d-flex justify-content-center text-dark" style="font-size: 1rem; font-weight: 500; line-height: 1.5rem;"> Already have an account? <span class="text-primary font-weight-semibold" style="padding-left: .75rem;"> Login</span>
            </a>
          </form>
        </div>
      </div>
    </section>
  </body>
  {% endif %}
</main>
{% endblock content %}