{% extends 'main.html' %}

{% block content %}

<main class="h-100">
  <div class="bg-white" style="padding-left: 1.5rem; padding-right: 1.5rem; padding-top: 2.5rem; padding-bottom: 2.5rem;">
    <div class="position-absolute" style="left: 0; right: 0; top: -10rem; z-index: -10; overflow: hidden; filter: blur(30px);" aria-hidden="true">
      <div class="position-relative" style="left: 50%; z-index: -10; width: 36.125rem; max-width: none; transform: translateX(-50%) rotate(30deg); background: linear-gradient(to top right, #ff80b5, #9089fc); opacity: 0.3; clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%); opacity: 0.3;"></div>
    </div>
    <div class="mx-auto" style="max-width: 42rem; text-align: center;">
      <h2 class="display-6 fw-bold text-dark" style="letter-spacing: -0.015em;">Create/Update Game Room</h2>
    </div>
    <form method="POST"
      hx-target="#room_list_container"
      hx-swap="innerHTML" method="POST" class="mx-auto" style="margin-top: 2.5rem; max-width: 36rem;">
      {% csrf_token %}
      <div class="row gap-3">
        <div class="col-12 col-sm-12">
          <label for="name" class="d-block" style="font-size: 0.875rem; font-weight: 600; line-height: 1.5; color: #000;">Room Name</label>
          <div style="margin-top: 0.625rem;">
            <input type="text" name="name" maxlength="200" required="" id="id_name" class="form-control" style="width: 100%; border: none; padding: 0.5rem 1rem; color: #212529; border-radius: 0.375rem; box-shadow: 0 0.125rem 0.25rem rgba(0, 123, 255, 0.5); outline: none; transition: box-shadow 0.2s;">
          </div>
        </div>
        <div class="col-12 col-sm-12">
          <label for="points" class="d-block" style="font-size: 0.875rem; font-weight: 600; line-height: 1.5; color: #000;">Points to Win</label>
          <div style="margin-top: 0.625rem;">
            <input type="number" name="points" value="0" required id="id_points" max="21" min="0" class="form-control" style="width: 100%; border: none; padding: 0.5rem 1rem; color: #212529; border-radius: 0.375rem; box-shadow: 0 0.125rem 0.25rem rgba(0, 123, 255, 0.5); outline: none; transition: box-shadow 0.2s;">
          </div>
        </div>
        <div class="col-12 col-sm-12">
          <label for="points" class="d-block" style="font-size: 0.875rem; font-weight: 600; line-height: 1.5; color: #000;">Opponent Type</label>
          <div style="margin-top: 0.625rem;">
            <select id="id_opponent_type" name="opponent_type" class="form-control" style="width: 100%; border: none; padding: 0.5rem 1rem; color: #212529; border-radius: 0.375rem; box-shadow: 0 0.125rem 0.25rem rgba(0, 123, 255, 0.5); outline: none; transition: box-shadow 0.2s;">
              <option value="vs Player">vs Player</option>
              <option value="Tournament">Tournament</option>
              <!-- <option value="AI">AI</option> -->
            </select>
          </div>
        </div>
        <div class="col-12 col-sm-12">
          <label for="description" class="d-block" style="font-size: 0.875rem; font-weight: 600; line-height: 1.5; color: #000;">Room Description</label>
          <div style="margin-top: 0.625rem;">
            <textarea name="description" cols="40" rows="3" id="id_description" class="form-control" style="width: 100%; border: none; padding: 0.5rem 1rem; color: #212529; border-radius: 0.375rem; box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); outline: none; transition: box-shadow 0.2s;" placeholder="Room Description" onfocus="this.style.boxShadow='0 0 0 2px rgba(99, 102, 241, 0.5)';" onblur="this.style.boxShadow='0 0.125rem 0.25rem rgba(0, 0, 0, 0.1)';"></textarea>
          </div>
        </div>
      </div>
      <div style="margin-top: 2.5rem;" class="d-flex gap-3" style="gap: 1rem;">
        <a href="{% url 'home' %}" class="btn" style="flex: 1; border-radius: 0.375rem; background-color: #06b6d4; padding: 0.625rem 0.875rem; color: white; text-align: center; font-size: 0.875rem; font-weight: 600; box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); transition: background-color 0.2s;" onmouseover="this.style.backgroundColor='#22c55e';" onfocus="this.style.outline='2px solid #4f46e5';" onblur="this.style.outline='none';">Cancel</a>
        <button type="submit" class="btn" style="flex: 1; border-radius: 0.375rem; background-color: #06b6d4; padding: 0.625rem 0.875rem; color: white; text-align: center; font-size: 0.875rem; font-weight: 600; box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); transition: background-color 0.2s;" onmouseover="this.style.backgroundColor='#22c55e';" onfocus="this.style.outline='2px solid #4f46e5';" onblur="this.style.outline='none';">Create</button>
      </div>
    </form>
  </div>
</main>

{% endblock content %}